/* html {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
} */

.loginBG {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 132, 255, 0.35) url('../../images/wp2757874-wallpaper-gif.gif');
    background-size: cover;
    margin: -27px 0 0 0;
    background-blend-mode: multiply;
    background-attachment: fixed;
    position: absolute;
    grid-column: 1/2;
}

.login-panel {
    background-color: var(--prim-color);
    width: 25vw;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 25vh auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.login-panel h1 {
    width: 100%;
}

.login-panel input{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding-left: 5px;
}

